{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
<h1>это главная страница</h1>
<br>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum corrupti exercitationem quod excepturi debitis
    veniam dignissimos impedit mollitia pariatur repellat iste explicabo id, hic saepe perferendis dolorem odio nulla,
    temporibus dicta? Distinctio, et beatae perspiciatis voluptatibus possimus laudantium repellat quisquam voluptas
    fuga consequatur. Non tempora ipsam perferendis ut quos eveniet sint, repellendus nihil veniam excepturi, odio nobis
    quas deserunt. Alias optio enim fuga voluptates iste deserunt dolorum sed eos velit eveniet officiis ducimus odio
    porro, sint eaque excepturi dignissimos cum eligendi ipsum tempore repudiandae. Cumque eveniet voluptates atque
    saepe similique architecto. Rem temporibus voluptate, laudantium officia corporis praesentium iusto eligendi?</p>
{% endblock %}